body{
  margin: 0;
  background-color: #FFFFFF;
}


.pink_background {
  margin: 0;
  height:551px;
  background-color: #F9EEEC;
}

.center {
  width: 877px; /* Ширина элемента в пикселах */
  padding:0; /* Поля вокруг текста */
  margin: auto;
  background-color: #FBFBFB;
}

h1 {
  margin: 0;
  padding-left:60px;
  padding-top: 30px;
  font-family: Ubuntu-Regular;
  font-weight: normal;
  font-size: 46px;
  color: rgba(0,0,0,0.40);
  letter-spacing: 0;
}


#main_img {
  width: 168px;
  height: 224px;
  border: 1px solid rgba(0,0,0,0.30);
  float: left;
  margin: 30px 0 0 60px;
}

#first_text {
  margin: 40px 0 0 255px;
  opacity: 0.95;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}

#first_text .second_text {
  margin-top: 10px;
  line-height: 20px;
}

ul {
  margin: 1px 0 0 255px;
  opacity: 0.95;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}

h2 {
  margin: 40px 0 0 60px;
  font-weight: normal;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #5B8A98;
}

#Job {
  margin-left: 60px;
}

#Job .first_date {
  margin-top:3px;
  float: left;
  opacity: 0.95;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #000000;
}

#Job .first_job {
  margin-top: 24px;
  margin-left: 154px;
  opacity: 0.95;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}

#Job .second_date {
  margin-top: 13px;
  float: left;
  opacity: 0.95;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #000000;
}

#Job .second_job {
    margin-top: 10px;
    margin-left: 154px;
    opacity: 0.95;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
}

.grey_background {
  margin: 0;
  height: 630px;
}

h3 {
  margin: 40px 0 0 60px;
  font-weight: normal;
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #5B8A98;
}

.grey_background p {
  display: inline-block;
  margin: 30px 0 0 60px;
  font-family: Roboto-Light;
  font-size: 20px;
  color: #CE8E06;
  border-bottom: 1px solid #CE8E06;
}

a {
  text-decoration:none;
}

#description {
  padding-left: 60px;
  padding-top: 7px;
  opacity: 0.95;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
}

.second_pink_background {
  padding-left: 40px;
  margin: 0;
  height: 84px;
  background-color: #F9EEEC;
}


.second_pink_background img {
  float: left;
  padding: 20px 0 20px 20px;
}

.second_pink_background p {
  padding-left: 15px;
  padding-top: 17px;
  float: left;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  /*text-decoration: underline;*/
}

.second_pink_background p1 {
  padding-right: 60px;
  padding-top: 35px;
  float: right;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  /*text-decoration: underline;*/
}
